/* footer css */
.site-footer {
    padding: 80px 0 0;
    color: #fff;
    background: #111212;
}

.footer-newsletter .field-wrapper {
    display: flex;
    margin-top: 30px;
}

.footer-newsletter h5 {
    font-size: 36px;
    font-weight: bold;
}

.field-wrapper .form-control {
    background: #fff;
    border-radius: 10px;
    font-size: 16px;
    height: 54px;
    border-color: #868686;
    font-weight: 500;
    color: #D0D0D0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form-control:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 0;
}

textarea>.form-control {
    border: none;
}

.contact-list .footer-links li a {
    color: rgb(255, 255, 255, 0.8);
}

.contact-list .footer-links li {
    margin-bottom: 15px;
}

.field-wrapper .theme-btn {
    margin-left: 15px;
    width: 170px;
}

.footer-info {
    padding-right: 40px;
}

.footer-info p {
    margin-top: 45px;
    margin-bottom: 50px;
}

.store-logos {
    display: flex;
    margin-bottom: 60px;
}

.store-logos .image {
    width: 150px;
    margin-right: 10px;
}

.follow-us ul {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.follow-us ul li a {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 50%;
}

.store-logos .image:last-child {
    margin: 0;
}

.follow-us ul li:last-child a {
    margin: 0;
}

.follow-us ul li .facebook {
    color: #6380c5;
}

.follow-us ul li .facebook:hover {
    background: #6380c5;
    color: #fff;
}

.follow-us ul li .linkedin {
    color: #087bb7;
}

.follow-us ul li .linkedin:hover {
    background: #087bb7;
    color: #fff;
}

.follow-us ul li .twitter {
    color: #03a9f4;
}

.follow-us ul li .twitter:hover {
    color: #fff;
    background: #03a9f4;
}

.follow-us ul li .pinterest {
    color: #cb1f24;
}

.follow-us ul li .pinterest:hover {
    color: #fff;
    background: #cb1f24;
}

.follow-us ul li .youtube {
    color: #ff0000;
}

.follow-us ul li .youtube:hover {
    color: #fff;
    background: #ff0000;
}
.follow-us ul li .instagram {
    color: #E40570;
}
.follow-us ul li .instagram:hover {
    color: #fff;
    background: #E40570;
}
.footer-logo{margin-bottom: 30px;}
.footer-links h5 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.footer-links li {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-links li a {
    color: #C0C4C5;
    text-decoration: none;
}

.footer-links li a:hover {
    color: #267DDD;
}

.drop-down__menu li:hover,
li.menu-item-has-children a:hover {
    color: #267DDD;
}

.footer-links .contact-info li {
    font-size: 24px;
}

.footer-links .contact-info li a {
    display: flex;
}

.footer-links .contact-info li .icon {
    margin-right: 15px;
    margin-top: 3px;
}

.copyrights {
    padding: 10px 0;
}

.copyrights p {
    color: #969eb4;
    text-align: center;
}

.bottom-footer {
    border-top: 1px solid #868686;
    margin-top: 40px;
}

@media only screen and (max-width:1600px) {
    .site-footer {
        padding: 50px 0 0;
    }
    .footer-newsletter h5 {
        font-size: 28px;
        line-height: 40px;
    }

    .footer-links h5 {
        margin-bottom: 16px;
        font-size: 16px;
    }

    .footer-links li {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .footer-links .contact-info li {
        font-size: 16px;
    }

    .field-wrapper .form-control {
        font-size: 15px;
    }
    .field-wrapper .form-control {
        font-size: 16px;
        height: 42px;
    }
    .follow-us ul li a {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
}

@media only screen and (max-width:1199px) {
   
    .padding-100 {
        padding: 40px 0;
    }
    .footer-newsletter .field-wrapper {
        margin-top: 18px;
    }
    .field-wrapper .theme-btn {
        margin-left: 4px;
    }
}

@media only screen and (max-width:991px) {
    .footer-logo {
        width: 280px;
    }

    .site-footer {
        padding-top: 50px;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
    }

    .contact-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom-footer {
        margin-top: 36px;
    }

    .footer-links li {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .field-wrapper .form-control {
        font-size: 15px;
    }

    .p-text-24 {
        font-size: 16px;
        line-height: 22px;
    }

    .footer-links .contact-info li {
        font-size: 16px;
    }
}

@media only screen and (max-width:767px) {
    .footer-newsletter h5 {
        font-size: 21px;
        line-height: 53px;
    }

    .footer-logo {
        width: 100%;
        margin-bottom: 30px;
    }
    .site-footer {
        padding-top: 26px;
    }
}
@media only screen and (max-width:575px) {
    .footer-logo {
        margin-bottom: 19px;
    }
}
