
.our-team-slide {
    max-width: 480px;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.our-team-image {
    width: 380px;
    height: 345px;
}
.our-team-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.team-member-detail {
    margin-top: 15px;
}
.qualification p{
    color: #000;
}

@media only screen and (max-width: 1550px) {
    .our-team-slide {
        max-width: 316px;
    }
    .our-team-slide {
        max-width: 94%;
    }
}
